[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"
ipdb = "*"

[packages]
praw = "*"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
